<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.system.post.repository.mapper.PostMapper">
    <!-- 根据条件查询账户信息 -->
    <select id="selectPageList" parameterType="com.chomolungma.system.post.repository.dataobject.PostDO" resultType="com.chomolungma.system.post.repository.dataobject.QueryPostDO">
        select * from sys_post
        <where>
            <if test="postDO.name != null and postDO.name !=''">
                and name like CONCAT('%',#{postDO.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="postDO.code != null and postDO.code !=''">
                and code like CONCAT('%',#{postDO.code,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </select>

</mapper>