<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.app.auth.dao.AccountMapper">
    <!-- 根据用户名密码查询用户 -->
    <select id="findByUsernameAndPassword" parameterType="account" resultType="map">
        select user_name as userName,
        `name`, gender, tel, phone, addr, company
         from sys_account a
         left join sys_user u on a.user_id = u.id
        where user_name=#{userName} and user_password=#{userPassword}
    </select>

	<!-- 根据ID查询账户信息 -->
	<select id="findById" parameterType="Integer" resultType="account">
		select user_name as userName, user_password as userPassword
		from sys_account
		where id = #{id,jdbcType=INTEGER}
	</select>
    
    <!-- 新增用户账号 -->
    <insert id="save" parameterType="account">
    	insert into sys_account
    	<trim prefix="(" suffix=")" suffixOverrides=",">
    			create_time,
    		<if test="createUser != null and createUser != ''">
    			create_user,
    		</if>
    		<if test="updateUser != null and updateUser != ''">
    			update_user,
    		</if>
    		<if test="userName != null and userName != ''">
    			user_name,
    		</if>
    		<if test="userPassword != null and userPassword != ''">
    			user_password,
    		</if>
    	</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides=",">
    			now(),
    		<if test="createUser != null and createUser != ''">
    			#{createUser,jdbcType=INTEGER},
    		</if>
    		<if test="updateUser != null and updateUser != ''">
    			#{updateUser,jdbcType=INTEGER},
    		</if>
    		<if test="userName != null and userName != ''">
    			#{userName,jdbcType=VARCHAR},
    		</if>
    		<if test="userPassword != null and userPassword != ''">
    			#{userPassword,jdbcType=VARCHAR},
    		</if>
    	</trim>
    </insert>
    
    <!-- 更新用户账户信息 -->
    <update id="update" parameterType="account">

    </update>


	<!--  重置密码 -->
	<update id="resetPasswordById" >
		update sys_account set
		  user_password = #{password, jdbcType=VARCHAR}
		where id in
		<foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
			#{item, jdbcType=INTEGER}
		</foreach>

	</update>
</mapper>