<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.system.org.infrastructure.mybatis.repository.mapper.OrgMapper">
    <select id="selectVo" parameterType="com.chomolungma.system.org.infrastructure.dataobject.OrgDO" resultType="com.chomolungma.system.org.infrastructure.dataobject.OrgDO">
        select 	so.id, so.create_time, so.pid, so.name, so.code, so.manager_id, so.status, su.name as manager, su.tel  from sys_org so left join sys_user su  on so.manager_id = su.id
        <where>
            <if test="name != null and name !=''">
                and so.name like  CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="manager != null and manager !=''">
                and su.name like  CONCAT('%', #{manager,jdbcType=VARCHAR},'%')
            </if>
            <if test="status != null and status !=''">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultType="com.chomolungma.system.org.infrastructure.dataobject.OrgDO">
        select 	so.id, so.create_time, so.pid, so.name, so.code, so.manager_id, so.status, su.name as manager, su.tel  from sys_org so left join sys_user su  on so.manager_id = su.id
        <where>
            <if test="name != null and name !=''">
                and so.id = #{id,jdbcType=BIGINT}
            </if>
        </where>
    </select>
</mapper>