<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.system.user.infrastructure.mybatis.repository.mapper.UserMapper">
<!--  查询部门人员  -->
    <select id="selectUsersByCondition" parameterType="com.chomolungma.system.user.infrastructure.dataobject.UserDO" resultType="com.chomolungma.system.user.interfaces.dto.UserDTO">
        select
            su.*,
            so.id as dept_id,
            so.name as dept_name
        from
            sys_org so
        left join sys_org_user sou on
            so.id = sou.org_id
        left join sys_user su on
            sou.user_id = su.id
        <where>
            sou.user_id is not null
            <if test="code != null and code != ''">
                and so.code like concat(#{code, jdbcType=VARCHAR}, '%')
            </if>
            <if test="userDO.name !=null and userDO.name !=''">
                and su.name like concat('%', #{userDO.name, jdbcType=VARCHAR}, '%')
            </if>
            <if test="userDO.phone !=null and userDO.phone !=''">
                and su.phone like concat('%', #{userDO.phone, jdbcType=VARCHAR}, '%')
            </if>
            <if test="userDO.tel !=null and userDO.tel !=''">
                and su.tel like concat('%', #{userDO.tel, jdbcType=VARCHAR}, '%')
            </if>
            <if test="userDO.address !=null and userDO.address !=''">
                and su.address like concat('%', #{userDO.address, jdbcType=VARCHAR}, '%')
            </if>
            <if test="userDO.gender !=null and userDO.gender !=''">
                and su.gender =  #{userDO.gender, jdbcType=VARCHAR}
            </if>
            <if test="userDO.idNumber !=null and userDO.idNumber !=''">
                and su.id_number like concat('%', #{userDO.idNumber, jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="noDeleteCount" parameterType="list" resultType="Boolean">
        select count(1) from sys_user
            <where>
                status = 1 and
                id in
                <foreach item="item" collection="list" separator="," open="(" close=")" index="">
                    #{item, jdbcType=BIGINT}
                </foreach>
            </where>

    </select>
</mapper>