<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.system.account.infrastructure.mybatis.repository.mapper.AccountMapper">
    <!-- 根据账户id 查询角色信息 -->
    <select id="selectRolesByAccountId" parameterType="java.lang.Long" resultType="com.chomolungma.system.account.domain.entity.Role">
        select
            sr.id,
            sr.name
        from
            sys_account_role sar
            left join sys_role sr on
            sar.role_id = sr.id
        <where>
            sar.account_id = #{accountId, jdbcType=BIGINT}
        </where>
        order by sr.name desc
    </select>

<!--  查询用户权限  -->
    <select id="getPermissions" parameterType="java.lang.Long" resultType="java.lang.String">
        select
            DISTINCT sm.permission
        from
            sys_account sa
                left join sys_account_role sar on
                sa.id = sar.account_id
                left join sys_role_operation sro on
                sar.role_id = sro.role_id
                left join sys_menu sm on
                sro.operation_id = sm.id
        <where>
            sm.`type`  = 1
            and sa.id = #{accountId, jdbcType=BIGINT}
            and sm.id is not null
        </where>
    </select>


    <select id="getResources" parameterType="java.lang.Long" resultType="java.lang.String">
        select
        DISTINCT sr.sign
        from
        sys_account sa
        left join sys_account_role sar on
        sa.id = sar.account_id
        left join sys_role_resource srr on
        sar.role_id = srr.role_id
        left join sys_resource sr on
        srr.resource_id = sr.id
        <where>
            sa.id = #{accountId, jdbcType=BIGINT}
            and sr.id is not null
        </where>
    </select>

    <!-- 批量删除账户 -->
    <delete id="deleteBatchByIds" parameterType="list">
        delete from sys_account
        <where>
            id in
            <foreach item="item" collection="list" separator="," open="(" close=")" index="">
                #{item, jdbcType=BIGINT}
            </foreach>
        </where>
    </delete>


    <!--  根据ID查询账户  -->
    <select id="selectAccountById" resultType="com.chomolungma.system.account.infrastructure.dataobject.AccountDO">
        select
            sa.*,
            CASE
                WHEN sa.type = '1' THEN su.name
                WHEN sa.type = '2' THEN bh.name
                WHEN sa.type = '3' THEN ba.name
            END AS name
        from
        sys_account sa left join sys_user su on sa.user_id = su.id  AND sa.type = '1'
                        left join biz_hotel bh on sa.user_id = bh.id  AND sa.type = '2'
                        left join biz_agent ba on sa.user_id = ba.id  AND sa.type = '3'
        <where>
            sa.id = #{id, jdbcType=BIGINT}
        </where>
    </select>

    <!--  根据Name查询账户  -->
    <select id="selectAccountByName" resultType="com.chomolungma.system.account.infrastructure.dataobject.AccountDO">
        select
        sa.*,
        CASE
        WHEN sa.type = '1' THEN su.name
        WHEN sa.type = '2' THEN bh.name
        WHEN sa.type = '3' THEN ba.name
        END AS name
        from
        sys_account sa left join sys_user su on sa.user_id = su.id  AND sa.type = '1'
        left join biz_hotel bh on sa.user_id = bh.id  AND sa.type = '2'
        left join biz_agent ba on sa.user_id = ba.id  AND sa.type = '3'
        <where>
            sa.username = #{name, jdbcType=VARCHAR}
        </where>
    </select>
</mapper>