<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.system.account.infrastructure.mybatis.repository.mapper.AccountMapper">
    <!-- 根据账户id 查询角色信息 -->
    <select id="selectRolesByAccountId" parameterType="java.lang.Long" resultType="com.chomolungma.system.account.infrastructure.dto.RoleDTO">
        select
            sr.id,
            sr.name,
            sr.code,
            sr.remark
        from
            sys_account_role sar
            left join sys_role sr on
            sar.role_id = sr.id
        <where>
            sar.account_id = #{accountId, jdbcType=BIGINT}
        </where>
    </select>

<!--  查询用户权限  -->
    <select id="getPermissions" parameterType="java.lang.Long" resultType="java.lang.String">
        select
            DISTINCT sm.permission
        from
            sys_account sa
                left join sys_account_role sar on
                sa.id = sar.account_id
                left join sys_role_operation sro on
                sar.role_id = sro.role_id
                left join sys_menu sm on
                sro.operation_id = sm.id
        <where>
            sm.`type`  = 1
            and sa.id = #{accountId, jdbcType=BIGINT}
            and sm.id is not null
        </where>
    </select>


    <select id="getResources" parameterType="java.lang.Long" resultType="java.lang.String">
        select
        DISTINCT sr.sign
        from
        sys_account sa
        left join sys_account_role sar on
        sa.id = sar.account_id
        left join sys_role_resource srr on
        sar.role_id = srr.role_id
        left join sys_resource sr on
        srr.resource_id = sr.id
        <where>
            sa.id = #{accountId, jdbcType=BIGINT}
            and sr.id is not null
        </where>
    </select>
</mapper>