<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.menu//DTD Mapper 3.0//EN" "http://mybatis.menu/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.system.menu.infrastructure.mybatis.repository.mapper.MenuMapper">
    <select id="selectMenusByRoleIds" resultType="com.chomolungma.system.menu.infrastructure.dataobject.MenuDO">
        select sm.* from sys_role_menu srm
        left join sys_menu sm on srm.menu_id = sm.id
        <where>
            role_id in
            <foreach collection="list" item="roleId" index="index" open="(" close=")" separator=",">
                #{roleId}
            </foreach>
            and sm.type = 0
        </where>
        group by sm.id, sm.create_time, sm.create_user, sm.update_time, sm.update_user, sm.code, sm.p_code, sm.affix, sm.enabled, sm.enabled, sm.has_leaf, sm.icon, sm.is_hidden, sm.name, sm.permission, sm.pid, sm.sort, sm.status, sm.title, sm.type, sm.url
        order by sm.sort
    </select>

    <delete id="deleteMenus" parameterType="java.lang.Long">
        delete from sys_menu where id in (
            select id from (
                select t1.id,
                       if(find_in_set(pid, @pids) > 0, @pids := concat(@pids, ',', id), 0) as ischild
                from ( select id,pid from sys_menu t  order by pid, id ) t1,
                (select @pids := #{id,jdbcType=BIGINT} ) t2
            ) t3 where ischild != 0 or id = #{id,jdbcType=BIGINT}
        )
    </delete>

    <delete id="deleteRoleMenuRelByMenuId" parameterType="java.lang.Long">
        delete from sys_role_menu where menu_id in (select id from (
            select t1.id,
                if(find_in_set(pid, @pids) > 0, @pids := concat(@pids, ',', id), 0) as ischild
            from ( select id,pid from sys_menu t  order by pid, id ) t1,
            (select @pids := #{id,jdbcType=BIGINT} ) t2
        ) t3 where ischild != 0 or id = #{id,jdbcType=BIGINT})
    </delete>
</mapper>