<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.orgEntity//DTD Mapper 3.0//EN" "http://mybatis.orgEntity/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.system.org.mapper.OrgMapper">
    <!-- 查询部门 -->
    <select id="selectPageVo" parameterType="com.chomolungma.system.org.domain.entity.OrgEntity" resultType="com.chomolungma.system.org.domain.entity.OrgEntity">
        select * from sys_org
        <where>
            <if test="orgEntity.name != null and orgEntity.name !=''">
                and `name` like  CONCAT('%',#{user.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="orgEntity.manager != null and orgEntity.manager !=''">
                and manager like  CONCAT('%', #{orgEntity.manager,jdbcType=VARCHAR},'%')
            </if>
            <if test="orgEntity.managerId != null and orgEntity.managerId !=''">
                and manager_id =  #{orgEntity.managerId,jdbcType=BIGINT}
            </if>
            <if test="orgEntity.tel != null and orgEntity.tel !=''">
                and tel like  CONCAT('%',#{orgEntity.tel,jdbcType=VARCHAR},'%')
            </if>
            <if test="orgEntity.status != null and orgEntity.status !=''">
                and status = #{orgEntity.status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>


    <select id="selectVo" parameterType="com.chomolungma.system.org.domain.entity.OrgEntity" resultType="com.chomolungma.system.org.domain.entity.OrgEntity">
        select * from sys_org
        <where>
            <if test="name != null and name !=''">
                and `name` like  CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="manager != null and manager !=''">
                and manager like  CONCAT('%', #{manager,jdbcType=VARCHAR},'%')
            </if>
            <if test="managerId != null and managerId !=''">
                and manager_id =  #{managerId,jdbcType=BIGINT}
            </if>
            <if test="tel != null and tel !=''">
                and tel like  CONCAT('%',#{tel,jdbcType=VARCHAR},'%')
            </if>
            <if test="status != null and status !=''">
                and status = #{status,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>