<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chomolungma.system.role.infrastructure.mybatis.repository.mapper.RoleMapper">
    <insert id="insertRoleMenusPermission" parameterType="com.chomolungma.system.role.infrastructure.dataobject.RolePermissionDO">
        insert into sys_role_menu
        (role_id, menu_id)
        VALUES
        <foreach collection ="rolePermissionDO.permissions" item="item" separator =",">
            (#{rolePermissionDO.roleId}, #{item})
        </foreach >
    </insert>

    <insert id="insertRoleOperationsPermission" parameterType="com.chomolungma.system.role.infrastructure.dataobject.RolePermissionDO">
        insert into sys_role_operation
        (role_id, operation_id)
        VALUES
        <foreach collection ="rolePermissionDO.permissions" item="item" separator =",">
            (#{rolePermissionDO.roleId}, #{item})
        </foreach >
    </insert>

    <delete id="deleteMenusPermissionByRoleId">
        delete from sys_role_menu where role_id = #{roleId, jdbcType=BIGINT}
    </delete>

    <delete id="deleteOperationsPermissionByRoleId">
        delete from sys_role_operation where role_id = #{roleId, jdbcType=BIGINT}
    </delete>

<!-- 批量删除角色对应的菜单权限关系 -->
    <delete id="deletePermissionByBatchRoleIds">
        delete from sys_role_menu
        <where>
            role_id in
            <foreach collection="list" item="roleId" index="index" open="(" close=")" separator=",">
                #{roleId, jdbcType=BIGINT}
            </foreach>
        </where>
    </delete>

    <!-- 批量删除角色对应的账户角色关系 -->
    <delete id="deleteAccountRoleByBatchRoleIds">
        delete from sys_account_role
        <where>
            role_id in
            <foreach collection="list" item="roleId" index="index" open="(" close=")" separator=",">
                #{roleId, jdbcType=BIGINT}
            </foreach>
        </where>
    </delete>

    <select id="selectMenusByRoleIds" resultType="com.chomolungma.system.menu.infrastructure.dataobject.MenuDO">
        select sm.* from sys_role_menu srm
            left join sys_menu sm on srm.menu_id = sm.id
        <where>
            role_id in
            <foreach collection="list" item="roleId" index="index" open="(" close=")" separator=",">
                #{roleId}
            </foreach>
            and sm.type = 0
        </where>
        group by srm.menu_id order by sm.sort
    </select>

    <select id="selectMenusByRoleId" resultType="com.chomolungma.system.role.interfaces.dto.RolePermissionDTO">
        select
            sm.id,
            sm.pid
        from
            sys_role_menu srm
        left join sys_menu sm on
            srm.menu_id = sm.id
        <where>
            role_id = #{roleId, jdbcType=BIGINT}
        </where>
    </select>

    <select id="getOperations" resultType="com.chomolungma.system.role.interfaces.dto.RolePermissionDTO">
        select
            sm.id,
            sm.pid
        from
            sys_role_operation sro
                left join sys_menu sm on
                sro.operation_id  = sm.id
        <where>
            role_id = #{roleId, jdbcType=BIGINT}
        </where>
    </select>

</mapper>